<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add"> Add a Car</a>

<table>
    <tr>
        <th> Make</th>
        <th> Model</th>
        <th> Year </th>
        <td>  Action </td>
    </tr>

    <tr th:each="car : ${cars}">
        <td th:text="${car.make}"> </td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
        <td>
            <a th:href="@{/detail/{id}(id=${car.id})}"> Detail </a>
            <a th:href="@{/delete/{id}(id=${car.id})}"> Delete </a>
        </td>
    </tr>



</table>

</body>
</html>